
PacketDefinitionsTests/obj/Debug/netcoreapp3.0/PacketDefinitionsTests.csproj.AssemblyReference.cache
PacketDefinitions420/obj/Debug/netcoreapp3.0/PacketDefinitions420.csproj.AssemblyReference.cache
GameServerLibTests/obj/Debug/netcoreapp3.0/GameServerLibTests.csproj.AssemblyReference.cache
GameServerCore/obj/Debug/netcoreapp3.0/GameServerCore.csproj.AssemblyReference.cache
GameServerConsoleTests/obj/x86/Debug/netcoreapp3.0/GameServerConsoleTests.csproj.AssemblyReference.cache
GameServerConsole/obj/x86/Debug/netcoreapp3.0/GameServerConsole.csproj.AssemblyReference.cache
GameServerConsole/bin/x86/Debug/netcoreapp3.0/Settings/run game2.lnk
GameServerConsole/bin/x86/Debug/netcoreapp3.0/Settings/run game1.lnk
GameServerConsole/bin/x86/Debug/netcoreapp3.0/Settings/GameServerSettings.json
GameServerConsole/bin/x86/Debug/netcoreapp3.0/Settings/GameInfo.json
GameServerConsole/bin/x86/Debug/netcoreapp3.0/Settings/2p/GameInfo.json
GameServerConsole/bin/x86/Debug/netcoreapp3.0/Logs/LeagueSandbox_02.12.2021.log
GameMaths/obj/Debug/netcoreapp3.0/GameMaths.csproj.AssemblyReference.cache
*.dll
*.v2
*.cache
*.editorconfig
*.pdb
*.json
*.log
